<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="collecteurOdeur">
      <h2 data-cy="collecteurOdeurDetailsHeading">
        <span jhiTranslate="projetCommunaleApp.collecteurOdeur.detail.title">Collecteur Odeur</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ collecteurOdeur.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.collecteurOdeur.nomCollecteur">Nom Collecteur</span></dt>
        <dd>
          <span>{{ collecteurOdeur.nomCollecteur }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.collecteurOdeur.prenomCollecteur">Prenom Collecteur</span></dt>
        <dd>
          <span>{{ collecteurOdeur.prenomCollecteur }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.collecteurOdeur.date">Date</span></dt>
        <dd>
          <span>{{ collecteurOdeur.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.collecteurOdeur.tel1">Tel 1</span></dt>
        <dd>
          <span>{{ collecteurOdeur.tel1 }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.collecteurOdeur.quartier">Quartier</span></dt>
        <dd>
          <div *ngIf="collecteurOdeur.quartier">
            <a [routerLink]="['/quartier', collecteurOdeur.quartier?.id, 'view']">{{ collecteurOdeur.quartier?.nomQuartier }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/collecteur-odeur', collecteurOdeur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
