<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="entrepreneur">
      <h2 data-cy="entrepreneurDetailsHeading"><span jhiTranslate="projetCommunaleApp.entrepreneur.detail.title">Entrepreneur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ entrepreneur.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.entrepreneur.nomEntrepreneur">Nom Entrepreneur</span></dt>
        <dd>
          <span>{{ entrepreneur.nomEntrepreneur }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.entrepreneur.prenomEntrepreneur">Prenom Entrepreneur</span></dt>
        <dd>
          <span>{{ entrepreneur.prenomEntrepreneur }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.entrepreneur.emailEntrepreneur">Email Entrepreneur</span></dt>
        <dd>
          <span>{{ entrepreneur.emailEntrepreneur }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.entrepreneur.telEntrepreneur">Tel Entrepreneur</span></dt>
        <dd>
          <span>{{ entrepreneur.telEntrepreneur }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.entrepreneur.tel1Entrepreneur">Tel 1 Entrepreneur</span></dt>
        <dd>
          <span>{{ entrepreneur.tel1Entrepreneur }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.entrepreneur.entreprenariat">Entreprenariat</span></dt>
        <dd>
          <div *ngIf="entrepreneur.entreprenariat">
            <a [routerLink]="['/entreprenariat', entrepreneur.entreprenariat?.id, 'view']">{{ entrepreneur.entreprenariat?.typeEntre }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.entrepreneur.domaineActivite">Domaine Activite</span></dt>
        <dd>
          <div *ngIf="entrepreneur.domaineActivite">
            <a [routerLink]="['/domaine-activite', entrepreneur.domaineActivite?.id, 'view']">{{
              entrepreneur.domaineActivite?.typeActivite
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/entrepreneur', entrepreneur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
