<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-eleveur-heading" data-cy="EleveurCreateUpdateHeading" jhiTranslate="projetCommunaleApp.eleveur.home.createOrEditLabel">
        Create or edit a Eleveur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.eleveur.nomEleveur" for="field_nomEleveur">Nom Eleveur</label>
          <input
            type="text"
            class="form-control"
            name="nomEleveur"
            id="field_nomEleveur"
            data-cy="nomEleveur"
            formControlName="nomEleveur"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.eleveur.prenomEleveur" for="field_prenomEleveur">Prenom Eleveur</label>
          <input
            type="text"
            class="form-control"
            name="prenomEleveur"
            id="field_prenomEleveur"
            data-cy="prenomEleveur"
            formControlName="prenomEleveur"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.eleveur.telEleveur" for="field_telEleveur">Tel Eleveur</label>
          <input
            type="text"
            class="form-control"
            name="telEleveur"
            id="field_telEleveur"
            data-cy="telEleveur"
            formControlName="telEleveur"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.eleveur.tel1Eleveur" for="field_tel1Eleveur">Tel 1 Eleveur</label>
          <input
            type="text"
            class="form-control"
            name="tel1Eleveur"
            id="field_tel1Eleveur"
            data-cy="tel1Eleveur"
            formControlName="tel1Eleveur"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.eleveur.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.eleveur.nomElevage" for="field_nomElevage">Nom Elevage</label>
          <select class="form-control" name="nomElevage" formControlName="nomElevage" id="field_nomElevage" data-cy="nomElevage">
            <option [ngValue]="null">{{ 'projetCommunaleApp.TypeElevage.null' | translate }}</option>
            <option *ngFor="let typeElevage of typeElevageValues" [value]="typeElevage">
              {{ 'projetCommunaleApp.TypeElevage.' + typeElevage | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.eleveur.descriptionActivite" for="field_descriptionActivite"
            >Description Activite</label
          >
          <input
            type="text"
            class="form-control"
            name="descriptionActivite"
            id="field_descriptionActivite"
            data-cy="descriptionActivite"
            formControlName="descriptionActivite"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.eleveur.quartier" for="field_quartier">Quartier</label>
          <select class="form-control" id="field_quartier" data-cy="quartier" name="quartier" formControlName="quartier">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="quartierOption.id === editForm.get('quartier')!.value?.id ? editForm.get('quartier')!.value : quartierOption"
              *ngFor="let quartierOption of quartiersSharedCollection; trackBy: trackQuartierById"
            >
              {{ quartierOption.nomQuartier }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
