<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="donSang">
      <h2 data-cy="donSangDetailsHeading"><span jhiTranslate="projetCommunalApp.donSang.detail.title">Don Sang</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ donSang.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.donSang.organisateur">Organisateur</span></dt>
        <dd>
          <span>{{ donSang.organisateur }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.donSang.description">Description</span></dt>
        <dd>
          <span>{{ donSang.description }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.donSang.annonce">Annonce</span></dt>
        <dd>
          <div *ngIf="donSang.annonce">
            <a [routerLink]="['/annonce', donSang.annonce?.id, 'view']">{{ donSang.annonce?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.donSang.donneur">Donneur</span></dt>
        <dd>
          <div *ngIf="donSang.donneur">
            <a [routerLink]="['/donneur', donSang.donneur?.id, 'view']">{{ donSang.donneur?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/don-sang', donSang.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
