<div>
  <h2 id="page-heading" data-cy="InscriptionHeading">
    <span jhiTranslate="projetCommunaleApp.inscription.home.title">Inscriptions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.inscription.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inscription"
        [routerLink]="['/inscription/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.inscription.home.createLabel"> Create a new Inscription </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="inscriptions?.length === 0">
    <span jhiTranslate="projetCommunaleApp.inscription.home.notFound">No inscriptions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="inscriptions && inscriptions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.inscription.nomPers">Nom Pers</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.inscription.prenomPers">Prenom Pers</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.inscription.emailPers">Email Pers</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.inscription.telPers">Tel Pers</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.inscription.tel1Pers">Tel 1 Pers</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.inscription.etatInscription">Etat Inscription</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.inscription.evenement">Evenement</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inscription of inscriptions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/inscription', inscription.id, 'view']">{{ inscription.id }}</a>
          </td>
          <td>{{ inscription.nomPers }}</td>
          <td>{{ inscription.prenomPers }}</td>
          <td>{{ inscription.emailPers }}</td>
          <td>{{ inscription.telPers }}</td>
          <td>{{ inscription.tel1Pers }}</td>
          <td>{{ inscription.etatInscription }}</td>
          <td>
            <div *ngIf="inscription.evenement">
              <a [routerLink]="['/evenement', inscription.evenement?.id, 'view']">{{ inscription.evenement?.libelle }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/inscription', inscription.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/inscription', inscription.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(inscription)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
