<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-joueur-heading" data-cy="JoueurCreateUpdateHeading" jhiTranslate="projetCommunaleApp.joueur.home.createOrEditLabel">
        Create or edit a Joueur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.joueur.nomJoueur" for="field_nomJoueur">Nom Joueur</label>
          <input type="text" class="form-control" name="nomJoueur" id="field_nomJoueur" data-cy="nomJoueur" formControlName="nomJoueur" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.joueur.prenomJoueur" for="field_prenomJoueur">Prenom Joueur</label>
          <input
            type="text"
            class="form-control"
            name="prenomJoueur"
            id="field_prenomJoueur"
            data-cy="prenomJoueur"
            formControlName="prenomJoueur"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.joueur.dateNaisJoueur" for="field_dateNaisJoueur"
            >Date Nais Joueur</label
          >
          <div class="input-group">
            <input
              id="field_dateNaisJoueur"
              data-cy="dateNaisJoueur"
              type="text"
              class="form-control"
              name="dateNaisJoueur"
              ngbDatepicker
              #dateNaisJoueurDp="ngbDatepicker"
              formControlName="dateNaisJoueur"
            />
            <button type="button" class="btn btn-secondary" (click)="dateNaisJoueurDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.joueur.lieuNaisJoueur" for="field_lieuNaisJoueur"
            >Lieu Nais Joueur</label
          >
          <input
            type="text"
            class="form-control"
            name="lieuNaisJoueur"
            id="field_lieuNaisJoueur"
            data-cy="lieuNaisJoueur"
            formControlName="lieuNaisJoueur"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.joueur.posteJoueur" for="field_posteJoueur">Poste Joueur</label>
          <select class="form-control" name="posteJoueur" formControlName="posteJoueur" id="field_posteJoueur" data-cy="posteJoueur">
            <option [ngValue]="null">{{ 'projetCommunaleApp.Poste.null' | translate }}</option>
            <option *ngFor="let poste of posteValues" [value]="poste">{{ 'projetCommunaleApp.Poste.' + poste | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.joueur.photoJoueur" for="field_photoJoueur">Photo Joueur</label>
          <div>
            <img
              [src]="'data:' + editForm.get('photoJoueurContentType')!.value + ';base64,' + editForm.get('photoJoueur')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('photoJoueur')!.value"
              alt="joueur image"
            />
            <div *ngIf="editForm.get('photoJoueur')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('photoJoueurContentType')!.value }}, {{ byteSize(editForm.get('photoJoueur')!.value) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('photoJoueur', 'photoJoueurContentType', 'file_photoJoueur')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_photoJoueur"
              data-cy="photoJoueur"
              (change)="setFileData($event, 'photoJoueur', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="photoJoueur"
            id="field_photoJoueur"
            data-cy="photoJoueur"
            formControlName="photoJoueur"
          />
          <input
            type="hidden"
            class="form-control"
            name="photoJoueurContentType"
            id="field_photoJoueurContentType"
            formControlName="photoJoueurContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.joueur.equipe" for="field_equipe">Equipe</label>
          <select class="form-control" id="field_equipe" data-cy="equipe" name="equipe" formControlName="equipe">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="equipeOption.id === editForm.get('equipe')!.value?.id ? editForm.get('equipe')!.value : equipeOption"
              *ngFor="let equipeOption of equipesSharedCollection; trackBy: trackEquipeById"
            >
              {{ equipeOption.nomEquipe }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
