<div>
  <h2 id="page-heading" data-cy="RecuperationRecyclableHeading">
    <span jhiTranslate="projetCommunaleApp.recuperationRecyclable.home.title">Recuperation Recyclables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.recuperationRecyclable.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-recuperation-recyclable"
        [routerLink]="['/recuperation-recyclable/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.recuperationRecyclable.home.createLabel"> Create a new Recuperation Recyclable </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="recuperationRecyclables?.length === 0">
    <span jhiTranslate="projetCommunaleApp.recuperationRecyclable.home.notFound">No recuperationRecyclables found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="recuperationRecyclables && recuperationRecyclables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.recuperationRecyclable.nom">Nom</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.recuperationRecyclable.date">Date</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.recuperationRecyclable.lieu">Lieu</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.recuperationRecyclable.quartier">Quartier</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recuperationRecyclable of recuperationRecyclables; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/recuperation-recyclable', recuperationRecyclable.id, 'view']">{{ recuperationRecyclable.id }}</a>
          </td>
          <td>{{ recuperationRecyclable.nom }}</td>
          <td>{{ recuperationRecyclable.date | formatMediumDate }}</td>
          <td>{{ recuperationRecyclable.lieu }}</td>
          <td>
            <div *ngIf="recuperationRecyclable.quartier">
              <a [routerLink]="['/quartier', recuperationRecyclable.quartier?.id, 'view']">{{
                recuperationRecyclable.quartier?.nomQuartier
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/recuperation-recyclable', recuperationRecyclable.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/recuperation-recyclable', recuperationRecyclable.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(recuperationRecyclable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
