<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="utilisationInternet">
      <h2 data-cy="utilisationInternetDetailsHeading">
        <span jhiTranslate="projetCommunaleApp.utilisationInternet.detail.title">Utilisation Internet</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ utilisationInternet.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.utilisationInternet.profil">Profil</span></dt>
        <dd>
          <span jhiTranslate="{{ 'projetCommunaleApp.Profil.' + utilisationInternet.profil }}">{{ utilisationInternet.profil }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.utilisationInternet.autre">Autre</span></dt>
        <dd>
          <span>{{ utilisationInternet.autre }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.utilisationInternet.domaine">Domaine</span></dt>
        <dd>
          <span jhiTranslate="{{ 'projetCommunaleApp.Domaine.' + utilisationInternet.domaine }}">{{ utilisationInternet.domaine }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.utilisationInternet.description">Description</span></dt>
        <dd>
          <span>{{ utilisationInternet.description }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.utilisationInternet.logiciel">Logiciel</span></dt>
        <dd>
          <div *ngIf="utilisationInternet.logiciel">
            <a [routerLink]="['/logiciel', utilisationInternet.logiciel?.id, 'view']">{{ utilisationInternet.logiciel?.nomLogiciel }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/utilisation-internet', utilisationInternet.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
