<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="equipe">
      <h2 data-cy="equipeDetailsHeading"><span jhiTranslate="projetCommunalApp.equipe.detail.title">Equipe</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ equipe.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.equipe.nomEquipe">Nom Equipe</span></dt>
        <dd>
          <span>{{ equipe.nomEquipe }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.equipe.dateCreation">Date Creation</span></dt>
        <dd>
          <span>{{ equipe.dateCreation | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.equipe.logo">Logo</span></dt>
        <dd>
          <div *ngIf="equipe.logo">
            <a (click)="openFile(equipe.logo, equipe.logoContentType)">
              <img [src]="'data:' + equipe.logoContentType + ';base64,' + equipe.logo" style="max-width: 100%" alt="equipe image" />
            </a>
            {{ equipe.logoContentType }}, {{ byteSize(equipe.logo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.equipe.typeSport">Type Sport</span></dt>
        <dd>
          <div *ngIf="equipe.typeSport">
            <a [routerLink]="['/type-sport', equipe.typeSport?.id, 'view']">{{ equipe.typeSport?.sport }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.equipe.joueur">Joueur</span></dt>
        <dd>
          <div *ngIf="equipe.joueur">
            <a [routerLink]="['/joueur', equipe.joueur?.id, 'view']">{{ equipe.joueur?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/equipe', equipe.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
