<div>
  <h2 id="page-heading" data-cy="ArchiveSportHeading">
    <span jhiTranslate="projetCommunaleApp.archiveSport.home.title">Archive Sports</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.archiveSport.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-archive-sport"
        [routerLink]="['/archive-sport/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.archiveSport.home.createLabel"> Create a new Archive Sport </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="archiveSports?.length === 0">
    <span jhiTranslate="projetCommunaleApp.archiveSport.home.notFound">No archiveSports found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="archiveSports && archiveSports.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.archiveSport.annee">Annee</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.archiveSport.equipe">Equipe</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.archiveSport.club">Club</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let archiveSport of archiveSports; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/archive-sport', archiveSport.id, 'view']">{{ archiveSport.id }}</a>
          </td>
          <td>{{ archiveSport.annee | formatMediumDate }}</td>
          <td>
            <div *ngIf="archiveSport.equipe">
              <a [routerLink]="['/equipe', archiveSport.equipe?.id, 'view']">{{ archiveSport.equipe?.nomEquipe }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="archiveSport.club">
              <a [routerLink]="['/club', archiveSport.club?.id, 'view']">{{ archiveSport.club?.nomClub }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/archive-sport', archiveSport.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/archive-sport', archiveSport.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(archiveSport)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
