<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-beneficiaire-heading"
        data-cy="BeneficiaireCreateUpdateHeading"
        jhiTranslate="projetCommunaleApp.beneficiaire.home.createOrEditLabel"
      >
        Create or edit a Beneficiaire
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.beneficiaire.typeBeneficiaire" for="field_typeBeneficiaire"
            >Type Beneficiaire</label
          >
          <select
            class="form-control"
            name="typeBeneficiaire"
            formControlName="typeBeneficiaire"
            id="field_typeBeneficiaire"
            data-cy="typeBeneficiaire"
          >
            <option [ngValue]="null">{{ 'projetCommunaleApp.TypeBeneficiaire.null' | translate }}</option>
            <option *ngFor="let typeBeneficiaire of typeBeneficiaireValues" [value]="typeBeneficiaire">
              {{ 'projetCommunaleApp.TypeBeneficiaire.' + typeBeneficiaire | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.beneficiaire.autreBeneficiaire" for="field_autreBeneficiaire"
            >Autre Beneficiaire</label
          >
          <input
            type="text"
            class="form-control"
            name="autreBeneficiaire"
            id="field_autreBeneficiaire"
            data-cy="autreBeneficiaire"
            formControlName="autreBeneficiaire"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.beneficiaire.description" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.beneficiaire.justification" for="field_justification"
            >Justification</label
          >
          <input
            type="text"
            class="form-control"
            name="justification"
            id="field_justification"
            data-cy="justification"
            formControlName="justification"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.beneficiaire.quartier" for="field_quartier">Quartier</label>
          <select class="form-control" id="field_quartier" data-cy="quartier" name="quartier" formControlName="quartier">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="quartierOption.id === editForm.get('quartier')!.value?.id ? editForm.get('quartier')!.value : quartierOption"
              *ngFor="let quartierOption of quartiersSharedCollection; trackBy: trackQuartierById"
            >
              {{ quartierOption.nomQuartier }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
