<div>
  <h2 id="page-heading" data-cy="DomaineActiviteHeading">
    <span jhiTranslate="projetCommunaleApp.domaineActivite.home.title">Domaine Activites</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.domaineActivite.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-domaine-activite"
        [routerLink]="['/domaine-activite/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.domaineActivite.home.createLabel"> Create a new Domaine Activite </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="domaineActivites?.length === 0">
    <span jhiTranslate="projetCommunaleApp.domaineActivite.home.notFound">No domaineActivites found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="domaineActivites && domaineActivites.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.domaineActivite.typeActivite">Type Activite</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.domaineActivite.description">Description</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.domaineActivite.dateActivite">Date Activite</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let domaineActivite of domaineActivites; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/domaine-activite', domaineActivite.id, 'view']">{{ domaineActivite.id }}</a>
          </td>
          <td>{{ domaineActivite.typeActivite }}</td>
          <td>{{ domaineActivite.description }}</td>
          <td>{{ domaineActivite.dateActivite | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/domaine-activite', domaineActivite.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/domaine-activite', domaineActivite.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(domaineActivite)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
