<div>
  <h2 id="page-heading" data-cy="VidangeHeading">
    <span jhiTranslate="projetCommunaleApp.vidange.home.title">Vidanges</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.vidange.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vidange"
        [routerLink]="['/vidange/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.vidange.home.createLabel"> Create a new Vidange </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vidanges?.length === 0">
    <span jhiTranslate="projetCommunaleApp.vidange.home.notFound">No vidanges found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vidanges && vidanges.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.vidange.nomVideur">Nom Videur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.vidange.prenomVideur">Prenom Videur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.vidange.tel1">Tel 1</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.vidange.tel2">Tel 2</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.vidange.quartier">Quartier</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vidange of vidanges; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vidange', vidange.id, 'view']">{{ vidange.id }}</a>
          </td>
          <td>{{ vidange.nomVideur }}</td>
          <td>{{ vidange.prenomVideur }}</td>
          <td>{{ vidange.tel1 }}</td>
          <td>{{ vidange.tel2 }}</td>
          <td>
            <div *ngIf="vidange.quartier">
              <a [routerLink]="['/quartier', vidange.quartier?.id, 'view']">{{ vidange.quartier?.nomQuartier }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vidange', vidange.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vidange', vidange.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vidange)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
