<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-demande-interview-heading"
        data-cy="DemandeInterviewCreateUpdateHeading"
        jhiTranslate="projetCommunaleApp.demandeInterview.home.createOrEditLabel"
      >
        Create or edit a Demande Interview
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.demandeInterview.nomJournaliste" for="field_nomJournaliste"
            >Nom Journaliste</label
          >
          <input
            type="text"
            class="form-control"
            name="nomJournaliste"
            id="field_nomJournaliste"
            data-cy="nomJournaliste"
            formControlName="nomJournaliste"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.demandeInterview.prenomJournaliste" for="field_prenomJournaliste"
            >Prenom Journaliste</label
          >
          <input
            type="text"
            class="form-control"
            name="prenomJournaliste"
            id="field_prenomJournaliste"
            data-cy="prenomJournaliste"
            formControlName="prenomJournaliste"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.demandeInterview.nomSociete" for="field_nomSociete">Nom Societe</label>
          <input
            type="text"
            class="form-control"
            name="nomSociete"
            id="field_nomSociete"
            data-cy="nomSociete"
            formControlName="nomSociete"
          />
          <div *ngIf="editForm.get('nomSociete')!.invalid && (editForm.get('nomSociete')!.dirty || editForm.get('nomSociete')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomSociete')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.demandeInterview.emailJournalite" for="field_emailJournalite"
            >Email Journalite</label
          >
          <input
            type="text"
            class="form-control"
            name="emailJournalite"
            id="field_emailJournalite"
            data-cy="emailJournalite"
            formControlName="emailJournalite"
          />
          <div
            *ngIf="
              editForm.get('emailJournalite')!.invalid &&
              (editForm.get('emailJournalite')!.dirty || editForm.get('emailJournalite')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('emailJournalite')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.demandeInterview.dateInterview" for="field_dateInterview"
            >Date Interview</label
          >
          <div class="input-group">
            <input
              id="field_dateInterview"
              data-cy="dateInterview"
              type="text"
              class="form-control"
              name="dateInterview"
              ngbDatepicker
              #dateInterviewDp="ngbDatepicker"
              formControlName="dateInterview"
            />
            <button type="button" class="btn btn-secondary" (click)="dateInterviewDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.demandeInterview.etatDemande" for="field_etatDemande"
            >Etat Demande</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="etatDemande"
            id="field_etatDemande"
            data-cy="etatDemande"
            formControlName="etatDemande"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.demandeInterview.entrepreneur" for="field_entrepreneur"
            >Entrepreneur</label
          >
          <select class="form-control" id="field_entrepreneur" data-cy="entrepreneur" name="entrepreneur" formControlName="entrepreneur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                entrepreneurOption.id === editForm.get('entrepreneur')!.value?.id ? editForm.get('entrepreneur')!.value : entrepreneurOption
              "
              *ngFor="let entrepreneurOption of entrepreneursCollection; trackBy: trackEntrepreneurById"
            >
              {{ entrepreneurOption.nomEntrepreneur }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
