<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-club-heading" data-cy="ClubCreateUpdateHeading" jhiTranslate="projetCommunaleApp.club.home.createOrEditLabel">
        Create or edit a Club
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.club.nomClub" for="field_nomClub">Nom Club</label>
          <input type="text" class="form-control" name="nomClub" id="field_nomClub" data-cy="nomClub" formControlName="nomClub" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.club.dateCreation" for="field_dateCreation">Date Creation</label>
          <div class="input-group">
            <input
              id="field_dateCreation"
              data-cy="dateCreation"
              type="text"
              class="form-control"
              name="dateCreation"
              ngbDatepicker
              #dateCreationDp="ngbDatepicker"
              formControlName="dateCreation"
            />
            <button type="button" class="btn btn-secondary" (click)="dateCreationDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.club.logo" for="field_logo">Logo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('logo')!.value"
              alt="club image"
            />
            <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('logo', 'logoContentType', 'file_logo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_logo"
              data-cy="logo"
              (change)="setFileData($event, 'logo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
          <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.club.discipline" for="field_discipline">Discipline</label>
          <select class="form-control" name="discipline" formControlName="discipline" id="field_discipline" data-cy="discipline">
            <option [ngValue]="null">{{ 'projetCommunaleApp.DisciplineClub.null' | translate }}</option>
            <option *ngFor="let disciplineClub of disciplineClubValues" [value]="disciplineClub">
              {{ 'projetCommunaleApp.DisciplineClub.' + disciplineClub | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.club.typeSport" for="field_typeSport">Type Sport</label>
          <select class="form-control" id="field_typeSport" data-cy="typeSport" name="typeSport" formControlName="typeSport">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="typeSportOption.id === editForm.get('typeSport')!.value?.id ? editForm.get('typeSport')!.value : typeSportOption"
              *ngFor="let typeSportOption of typeSportsCollection; trackBy: trackTypeSportById"
            >
              {{ typeSportOption.sport }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.club.quartier" for="field_quartier">Quartier</label>
          <select class="form-control" id="field_quartier" data-cy="quartier" name="quartier" formControlName="quartier">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="quartierOption.id === editForm.get('quartier')!.value?.id ? editForm.get('quartier')!.value : quartierOption"
              *ngFor="let quartierOption of quartiersSharedCollection; trackBy: trackQuartierById"
            >
              {{ quartierOption.nomQuartier }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
