<div>
  <h2 id="page-heading" data-cy="ClubHeading">
    <span jhiTranslate="projetCommunaleApp.club.home.title">Clubs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.club.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-club"
        [routerLink]="['/club/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.club.home.createLabel"> Create a new Club </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clubs?.length === 0">
    <span jhiTranslate="projetCommunaleApp.club.home.notFound">No clubs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clubs && clubs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.club.nomClub">Nom Club</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.club.dateCreation">Date Creation</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.club.logo">Logo</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.club.discipline">Discipline</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.club.typeSport">Type Sport</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.club.quartier">Quartier</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let club of clubs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/club', club.id, 'view']">{{ club.id }}</a>
          </td>
          <td>{{ club.nomClub }}</td>
          <td>{{ club.dateCreation | formatMediumDate }}</td>
          <td>
            <a *ngIf="club.logo" (click)="openFile(club.logo, club.logoContentType)">
              <img [src]="'data:' + club.logoContentType + ';base64,' + club.logo" style="max-height: 30px" alt="club image" />
            </a>
            <span *ngIf="club.logo">{{ club.logoContentType }}, {{ byteSize(club.logo) }}</span>
          </td>
          <td jhiTranslate="{{ 'projetCommunaleApp.DisciplineClub.' + club.discipline }}">{{ club.discipline }}</td>
          <td>
            <div *ngIf="club.typeSport">
              <a [routerLink]="['/type-sport', club.typeSport?.id, 'view']">{{ club.typeSport?.sport }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="club.quartier">
              <a [routerLink]="['/quartier', club.quartier?.id, 'view']">{{ club.quartier?.nomQuartier }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/club', club.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/club', club.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(club)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
