<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="joueur">
      <h2 data-cy="joueurDetailsHeading"><span jhiTranslate="projetCommunalApp.joueur.detail.title">Joueur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ joueur.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.joueur.nom">Nom</span></dt>
        <dd>
          <span>{{ joueur.nom }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.joueur.prenom">Prenom</span></dt>
        <dd>
          <span>{{ joueur.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.joueur.dateNais">Date Nais</span></dt>
        <dd>
          <span>{{ joueur.dateNais | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.joueur.lieuNais">Lieu Nais</span></dt>
        <dd>
          <span>{{ joueur.lieuNais }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.joueur.poste">Poste</span></dt>
        <dd>
          <span jhiTranslate="{{ 'projetCommunalApp.Poste.' + joueur.poste }}">{{ joueur.poste }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.joueur.photo">Photo</span></dt>
        <dd>
          <div *ngIf="joueur.photo">
            <a (click)="openFile(joueur.photo, joueur.photoContentType)">
              <img [src]="'data:' + joueur.photoContentType + ';base64,' + joueur.photo" style="max-width: 100%" alt="joueur image" />
            </a>
            {{ joueur.photoContentType }}, {{ byteSize(joueur.photo) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/joueur', joueur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
