<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="joueur">
      <h2 data-cy="joueurDetailsHeading"><span jhiTranslate="projetCommunaleApp.joueur.detail.title">Joueur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ joueur.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.joueur.nomJoueur">Nom Joueur</span></dt>
        <dd>
          <span>{{ joueur.nomJoueur }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.joueur.prenomJoueur">Prenom Joueur</span></dt>
        <dd>
          <span>{{ joueur.prenomJoueur }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.joueur.dateNaisJoueur">Date Nais Joueur</span></dt>
        <dd>
          <span>{{ joueur.dateNaisJoueur | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.joueur.lieuNaisJoueur">Lieu Nais Joueur</span></dt>
        <dd>
          <span>{{ joueur.lieuNaisJoueur }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.joueur.posteJoueur">Poste Joueur</span></dt>
        <dd>
          <span jhiTranslate="{{ 'projetCommunaleApp.Poste.' + joueur.posteJoueur }}">{{ joueur.posteJoueur }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.joueur.photoJoueur">Photo Joueur</span></dt>
        <dd>
          <div *ngIf="joueur.photoJoueur">
            <a (click)="openFile(joueur.photoJoueur, joueur.photoJoueurContentType)">
              <img
                [src]="'data:' + joueur.photoJoueurContentType + ';base64,' + joueur.photoJoueur"
                style="max-width: 100%"
                alt="joueur image"
              />
            </a>
            {{ joueur.photoJoueurContentType }}, {{ byteSize(joueur.photoJoueur) }}
          </div>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.joueur.equipe">Equipe</span></dt>
        <dd>
          <div *ngIf="joueur.equipe">
            <a [routerLink]="['/equipe', joueur.equipe?.id, 'view']">{{ joueur.equipe?.nomEquipe }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/joueur', joueur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
