<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="evenement">
      <h2 data-cy="evenementDetailsHeading"><span jhiTranslate="projetCommunaleApp.evenement.detail.title">Evenement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ evenement.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.evenement.nomEvenement">Nom Evenement</span></dt>
        <dd>
          <span>{{ evenement.nomEvenement }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.evenement.libelle">Libelle</span></dt>
        <dd>
          <span>{{ evenement.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.evenement.action">Action</span></dt>
        <dd>
          <span>{{ evenement.action }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.evenement.decision">Decision</span></dt>
        <dd>
          <span>{{ evenement.decision }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.evenement.delaiInstruction">Delai Instruction</span></dt>
        <dd>
          <span>{{ evenement.delaiInstruction | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.evenement.delaiInscription">Delai Inscription</span></dt>
        <dd>
          <span>{{ evenement.delaiInscription | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.evenement.delaiValidation">Delai Validation</span></dt>
        <dd>
          <span>{{ evenement.delaiValidation | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.evenement.artiste">Artiste</span></dt>
        <dd>
          <div *ngIf="evenement.artiste">
            <a [routerLink]="['/artiste', evenement.artiste?.id, 'view']">{{ evenement.artiste?.nomArtiste }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/evenement', evenement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
