<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cible">
      <h2 data-cy="cibleDetailsHeading"><span jhiTranslate="projetCommunalApp.cible.detail.title">Cible</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cible.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.cible.cible">Cible</span></dt>
        <dd>
          <span jhiTranslate="{{ 'projetCommunalApp.CibleVacc.' + cible.cible }}">{{ cible.cible }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.cible.age">Age</span></dt>
        <dd>
          <span>{{ cible.age }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.cible.vaccination">Vaccination</span></dt>
        <dd>
          <div *ngIf="cible.vaccination">
            <a [routerLink]="['/vaccination', cible.vaccination?.id, 'view']">{{ cible.vaccination?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cible', cible.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
