<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-utilisation-internet-heading"
        data-cy="UtilisationInternetCreateUpdateHeading"
        jhiTranslate="projetCommunaleApp.utilisationInternet.home.createOrEditLabel"
      >
        Create or edit a Utilisation Internet
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.utilisationInternet.profil" for="field_profil">Profil</label>
          <select class="form-control" name="profil" formControlName="profil" id="field_profil" data-cy="profil">
            <option [ngValue]="null">{{ 'projetCommunaleApp.Profil.null' | translate }}</option>
            <option *ngFor="let profil of profilValues" [value]="profil">{{ 'projetCommunaleApp.Profil.' + profil | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.utilisationInternet.autre" for="field_autre">Autre</label>
          <input type="text" class="form-control" name="autre" id="field_autre" data-cy="autre" formControlName="autre" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.utilisationInternet.domaine" for="field_domaine">Domaine</label>
          <select class="form-control" name="domaine" formControlName="domaine" id="field_domaine" data-cy="domaine">
            <option [ngValue]="null">{{ 'projetCommunaleApp.Domaine.null' | translate }}</option>
            <option *ngFor="let domaine of domaineValues" [value]="domaine">
              {{ 'projetCommunaleApp.Domaine.' + domaine | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.utilisationInternet.description" for="field_description"
            >Description</label
          >
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.utilisationInternet.logiciel" for="field_logiciel">Logiciel</label>
          <select class="form-control" id="field_logiciel" data-cy="logiciel" name="logiciel" formControlName="logiciel">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="logicielOption.id === editForm.get('logiciel')!.value?.id ? editForm.get('logiciel')!.value : logicielOption"
              *ngFor="let logicielOption of logicielsCollection; trackBy: trackLogicielById"
            >
              {{ logicielOption.nomLogiciel }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
