<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-vaccination-heading"
        data-cy="VaccinationCreateUpdateHeading"
        jhiTranslate="projetCommunaleApp.vaccination.home.createOrEditLabel"
      >
        Create or edit a Vaccination
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.vaccination.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.vaccination.description" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.vaccination.duree" for="field_duree">Duree</label>
          <input type="checkbox" class="form-check" name="duree" id="field_duree" data-cy="duree" formControlName="duree" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.vaccination.dateDebut" for="field_dateDebut">Date Debut</label>
          <div class="input-group">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="text"
              class="form-control"
              name="dateDebut"
              ngbDatepicker
              #dateDebutDp="ngbDatepicker"
              formControlName="dateDebut"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.vaccination.dateFin" for="field_dateFin">Date Fin</label>
          <div class="input-group">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="text"
              class="form-control"
              name="dateFin"
              ngbDatepicker
              #dateFinDp="ngbDatepicker"
              formControlName="dateFin"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.vaccination.typeVaccin" for="field_typeVaccin">Type Vaccin</label>
          <select class="form-control" id="field_typeVaccin" data-cy="typeVaccin" name="typeVaccin" formControlName="typeVaccin">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                typeVaccinOption.id === editForm.get('typeVaccin')!.value?.id ? editForm.get('typeVaccin')!.value : typeVaccinOption
              "
              *ngFor="let typeVaccinOption of typeVaccinsCollection; trackBy: trackTypeVaccinById"
            >
              {{ typeVaccinOption.libelle }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.vaccination.annonce" for="field_annonce">Annonce</label>
          <select class="form-control" id="field_annonce" data-cy="annonce" name="annonce" formControlName="annonce">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="annonceOption.id === editForm.get('annonce')!.value?.id ? editForm.get('annonce')!.value : annonceOption"
              *ngFor="let annonceOption of annoncesSharedCollection; trackBy: trackAnnonceById"
            >
              {{ annonceOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
