<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-partenaires-heading"
        data-cy="PartenairesCreateUpdateHeading"
        jhiTranslate="projetCommunaleApp.partenaires.home.createOrEditLabel"
      >
        Create or edit a Partenaires
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.partenaires.nomPartenaire" for="field_nomPartenaire"
            >Nom Partenaire</label
          >
          <input
            type="text"
            class="form-control"
            name="nomPartenaire"
            id="field_nomPartenaire"
            data-cy="nomPartenaire"
            formControlName="nomPartenaire"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.partenaires.emailPartenaire" for="field_emailPartenaire"
            >Email Partenaire</label
          >
          <input
            type="text"
            class="form-control"
            name="emailPartenaire"
            id="field_emailPartenaire"
            data-cy="emailPartenaire"
            formControlName="emailPartenaire"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.partenaires.telPartenaire" for="field_telPartenaire"
            >Tel Partenaire</label
          >
          <input
            type="text"
            class="form-control"
            name="telPartenaire"
            id="field_telPartenaire"
            data-cy="telPartenaire"
            formControlName="telPartenaire"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.partenaires.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.partenaires.entrepreneur" for="field_entrepreneur">Entrepreneur</label>
          <select class="form-control" id="field_entrepreneur" data-cy="entrepreneur" name="entrepreneur" formControlName="entrepreneur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                entrepreneurOption.id === editForm.get('entrepreneur')!.value?.id ? editForm.get('entrepreneur')!.value : entrepreneurOption
              "
              *ngFor="let entrepreneurOption of entrepreneursCollection; trackBy: trackEntrepreneurById"
            >
              {{ entrepreneurOption.nomEntrepreneur }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.partenaires.eleveur" for="field_eleveur">Eleveur</label>
          <select class="form-control" id="field_eleveur" data-cy="eleveur" name="eleveur" formControlName="eleveur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="eleveurOption.id === editForm.get('eleveur')!.value?.id ? editForm.get('eleveur')!.value : eleveurOption"
              *ngFor="let eleveurOption of eleveursCollection; trackBy: trackEleveurById"
            >
              {{ eleveurOption.nomEleveur }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
