<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-entrepreneur-heading"
        data-cy="EntrepreneurCreateUpdateHeading"
        jhiTranslate="projetCommunaleApp.entrepreneur.home.createOrEditLabel"
      >
        Create or edit a Entrepreneur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.entrepreneur.nomEntrepreneur" for="field_nomEntrepreneur"
            >Nom Entrepreneur</label
          >
          <input
            type="text"
            class="form-control"
            name="nomEntrepreneur"
            id="field_nomEntrepreneur"
            data-cy="nomEntrepreneur"
            formControlName="nomEntrepreneur"
          />
          <div
            *ngIf="
              editForm.get('nomEntrepreneur')!.invalid &&
              (editForm.get('nomEntrepreneur')!.dirty || editForm.get('nomEntrepreneur')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomEntrepreneur')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.entrepreneur.prenomEntrepreneur" for="field_prenomEntrepreneur"
            >Prenom Entrepreneur</label
          >
          <input
            type="text"
            class="form-control"
            name="prenomEntrepreneur"
            id="field_prenomEntrepreneur"
            data-cy="prenomEntrepreneur"
            formControlName="prenomEntrepreneur"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.entrepreneur.emailEntrepreneur" for="field_emailEntrepreneur"
            >Email Entrepreneur</label
          >
          <input
            type="text"
            class="form-control"
            name="emailEntrepreneur"
            id="field_emailEntrepreneur"
            data-cy="emailEntrepreneur"
            formControlName="emailEntrepreneur"
          />
          <div
            *ngIf="
              editForm.get('emailEntrepreneur')!.invalid &&
              (editForm.get('emailEntrepreneur')!.dirty || editForm.get('emailEntrepreneur')!.touched)
            "
          ></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.entrepreneur.telEntrepreneur" for="field_telEntrepreneur"
            >Tel Entrepreneur</label
          >
          <input
            type="text"
            class="form-control"
            name="telEntrepreneur"
            id="field_telEntrepreneur"
            data-cy="telEntrepreneur"
            formControlName="telEntrepreneur"
          />
          <div
            *ngIf="
              editForm.get('telEntrepreneur')!.invalid &&
              (editForm.get('telEntrepreneur')!.dirty || editForm.get('telEntrepreneur')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telEntrepreneur')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.entrepreneur.tel1Entrepreneur" for="field_tel1Entrepreneur"
            >Tel 1 Entrepreneur</label
          >
          <input
            type="text"
            class="form-control"
            name="tel1Entrepreneur"
            id="field_tel1Entrepreneur"
            data-cy="tel1Entrepreneur"
            formControlName="tel1Entrepreneur"
          />
          <div
            *ngIf="
              editForm.get('tel1Entrepreneur')!.invalid &&
              (editForm.get('tel1Entrepreneur')!.dirty || editForm.get('tel1Entrepreneur')!.touched)
            "
          ></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.entrepreneur.entreprenariat" for="field_entreprenariat"
            >Entreprenariat</label
          >
          <select
            class="form-control"
            id="field_entreprenariat"
            data-cy="entreprenariat"
            name="entreprenariat"
            formControlName="entreprenariat"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                entreprenariatOption.id === editForm.get('entreprenariat')!.value?.id
                  ? editForm.get('entreprenariat')!.value
                  : entreprenariatOption
              "
              *ngFor="let entreprenariatOption of entreprenariatsCollection; trackBy: trackEntreprenariatById"
            >
              {{ entreprenariatOption.typeEntre }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.entrepreneur.domaineActivite" for="field_domaineActivite"
            >Domaine Activite</label
          >
          <select
            class="form-control"
            id="field_domaineActivite"
            data-cy="domaineActivite"
            name="domaineActivite"
            formControlName="domaineActivite"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                domaineActiviteOption.id === editForm.get('domaineActivite')!.value?.id
                  ? editForm.get('domaineActivite')!.value
                  : domaineActiviteOption
              "
              *ngFor="let domaineActiviteOption of domaineActivitesCollection; trackBy: trackDomaineActiviteById"
            >
              {{ domaineActiviteOption.typeActivite }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
