<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cible-heading" data-cy="CibleCreateUpdateHeading" jhiTranslate="projetCommunalApp.cible.home.createOrEditLabel">
        Create or edit a Cible
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetCommunalApp.cible.cible" for="field_cible">Cible</label>
          <select class="form-control" name="cible" formControlName="cible" id="field_cible" data-cy="cible">
            <option [ngValue]="null">{{ 'projetCommunalApp.CibleVacc.null' | translate }}</option>
            <option value="Enfant">{{ 'projetCommunalApp.CibleVacc.Enfant' | translate }}</option>
            <option value="Adulte">{{ 'projetCommunalApp.CibleVacc.Adulte' | translate }}</option>
            <option value="PersonneAgee">{{ 'projetCommunalApp.CibleVacc.PersonneAgee' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetCommunalApp.cible.age" for="field_age">Age</label>
          <input type="number" class="form-control" name="age" id="field_age" data-cy="age" formControlName="age" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetCommunalApp.cible.vaccination" for="field_vaccination">Vaccination</label>
          <select class="form-control" id="field_vaccination" data-cy="vaccination" name="vaccination" formControlName="vaccination">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                vaccinationOption.id === editForm.get('vaccination')!.value?.id ? editForm.get('vaccination')!.value : vaccinationOption
              "
              *ngFor="let vaccinationOption of vaccinationsSharedCollection; trackBy: trackVaccinationById"
            >
              {{ vaccinationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
