<div>
  <h2 id="page-heading" data-cy="AnnonceHeading">
    <span jhiTranslate="projetCommunaleApp.annonce.home.title">Annonces</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.annonce.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-annonce"
        [routerLink]="['/annonce/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.annonce.home.createLabel"> Create a new Annonce </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="annonces?.length === 0">
    <span jhiTranslate="projetCommunaleApp.annonce.home.notFound">No annonces found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="annonces && annonces.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.annonce.titre">Titre</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.annonce.description">Description</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.annonce.date">Date</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.annonce.lieu">Lieu</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.annonce.don">Don</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.annonce.beneficiaire">Beneficiaire</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let annonce of annonces; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/annonce', annonce.id, 'view']">{{ annonce.id }}</a>
          </td>
          <td>{{ annonce.titre }}</td>
          <td>{{ annonce.description }}</td>
          <td>{{ annonce.date | formatMediumDate }}</td>
          <td>{{ annonce.lieu }}</td>
          <td>
            <div *ngIf="annonce.don">
              <a [routerLink]="['/don', annonce.don?.id, 'view']">{{ annonce.don?.typeDon }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="annonce.beneficiaire">
              <a [routerLink]="['/beneficiaire', annonce.beneficiaire?.id, 'view']">{{ annonce.beneficiaire?.typeBeneficiaire }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/annonce', annonce.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/annonce', annonce.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(annonce)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
