<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-competition-heading"
        data-cy="CompetitionCreateUpdateHeading"
        jhiTranslate="projetCommunaleApp.competition.home.createOrEditLabel"
      >
        Create or edit a Competition
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.competition.dateCompetition" for="field_dateCompetition"
            >Date Competition</label
          >
          <div class="d-flex">
            <input
              id="field_dateCompetition"
              data-cy="dateCompetition"
              type="datetime-local"
              class="form-control"
              name="dateCompetition"
              formControlName="dateCompetition"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.competition.lieuCompetition" for="field_lieuCompetition"
            >Lieu Competition</label
          >
          <input
            type="text"
            class="form-control"
            name="lieuCompetition"
            id="field_lieuCompetition"
            data-cy="lieuCompetition"
            formControlName="lieuCompetition"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.competition.discipline" for="field_discipline">Discipline</label>
          <select class="form-control" name="discipline" formControlName="discipline" id="field_discipline" data-cy="discipline">
            <option [ngValue]="null">{{ 'projetCommunaleApp.DisciplineClub.null' | translate }}</option>
            <option *ngFor="let disciplineClub of disciplineClubValues" [value]="disciplineClub">
              {{ 'projetCommunaleApp.DisciplineClub.' + disciplineClub | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.competition.club" for="field_club">Club</label>
          <select class="form-control" id="field_club" data-cy="club" name="club" formControlName="club">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clubOption.id === editForm.get('club')!.value?.id ? editForm.get('club')!.value : clubOption"
              *ngFor="let clubOption of clubsSharedCollection; trackBy: trackClubById"
            >
              {{ clubOption.nomClub }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
