<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-competition-heading"
        data-cy="CompetitionCreateUpdateHeading"
        jhiTranslate="projetCommunalApp.competition.home.createOrEditLabel"
      >
        Create or edit a Competition
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetCommunalApp.competition.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetCommunalApp.competition.lieu" for="field_lieu">Lieu</label>
          <input type="text" class="form-control" name="lieu" id="field_lieu" data-cy="lieu" formControlName="lieu" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetCommunalApp.competition.discipline" for="field_discipline"
            >Discipline</label
          >
          <select class="form-control" name="discipline" formControlName="discipline" id="field_discipline" data-cy="discipline">
            <option [ngValue]="null">{{ 'projetCommunalApp.DisciplineClub.null' | translate }}</option>
            <option value="TAEKWONDO">{{ 'projetCommunalApp.DisciplineClub.TAEKWONDO' | translate }}</option>
            <option value="KARATE">{{ 'projetCommunalApp.DisciplineClub.KARATE' | translate }}</option>
            <option value="BOXE">{{ 'projetCommunalApp.DisciplineClub.BOXE' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="projetCommunalApp.competition.vainqueur" for="field_vainqueur">Vainqueur</label>
          <select class="form-control" id="field_vainqueur" data-cy="vainqueur" name="vainqueur" formControlName="vainqueur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="vainqueurOption.id === editForm.get('vainqueur')!.value?.id ? editForm.get('vainqueur')!.value : vainqueurOption"
              *ngFor="let vainqueurOption of vainqueursSharedCollection; trackBy: trackVainqueurById"
            >
              {{ vainqueurOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="projetCommunalApp.competition.club" for="field_clubs">Club</label>
          <select class="form-control" id="field_clubs" data-cy="club" multiple name="clubs" formControlName="clubs">
            <option
              [ngValue]="getSelectedClub(clubOption, editForm.get('clubs')!.value)"
              *ngFor="let clubOption of clubsSharedCollection; trackBy: trackClubById"
            >
              {{ clubOption.nomClub }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
