<div>
  <h2 id="page-heading" data-cy="DonHeading">
    <span jhiTranslate="projetCommunalApp.don.home.title">Dons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunalApp.don.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-don"
        [routerLink]="['/don/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunalApp.don.home.createLabel"> Create a new Don </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dons?.length === 0">
    <span jhiTranslate="projetCommunalApp.don.home.notFound">No dons found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="dons && dons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="typeDon">
            <span jhiTranslate="projetCommunalApp.don.typeDon">Type Don</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="montant">
            <span jhiTranslate="projetCommunalApp.don.montant">Montant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="projetCommunalApp.don.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="annonce.titre">
            <span jhiTranslate="projetCommunalApp.don.annonce">Annonce</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let don of dons; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/don', don.id, 'view']">{{ don.id }}</a>
          </td>
          <td jhiTranslate="{{ 'projetCommunalApp.TypeDon.' + don.typeDon }}">{{ don.typeDon }}</td>
          <td>{{ don.montant }}</td>
          <td>{{ don.description }}</td>
          <td>
            <div *ngIf="don.annonce">
              <a [routerLink]="['/annonce', don.annonce?.id, 'view']">{{ don.annonce?.titre }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/don', don.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/don', don.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(don)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dons && dons.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
