<div>
  <h2 id="page-heading" data-cy="CombattantHeading">
    <span jhiTranslate="projetCommunalApp.combattant.home.title">Combattants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunalApp.combattant.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-combattant"
        [routerLink]="['/combattant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunalApp.combattant.home.createLabel"> Create a new Combattant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="combattants?.length === 0">
    <span jhiTranslate="projetCommunalApp.combattant.home.notFound">No combattants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="combattants && combattants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom">
            <span jhiTranslate="projetCommunalApp.combattant.nom">Nom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="projetCommunalApp.combattant.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateNais">
            <span jhiTranslate="projetCommunalApp.combattant.dateNais">Date Nais</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lieuNais">
            <span jhiTranslate="projetCommunalApp.combattant.lieuNais">Lieu Nais</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="photo">
            <span jhiTranslate="projetCommunalApp.combattant.photo">Photo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="combattant.id">
            <span jhiTranslate="projetCommunalApp.combattant.combattant">Combattant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let combattant of combattants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/combattant', combattant.id, 'view']">{{ combattant.id }}</a>
          </td>
          <td>{{ combattant.nom }}</td>
          <td>{{ combattant.prenom }}</td>
          <td>{{ combattant.dateNais | formatMediumDate }}</td>
          <td>{{ combattant.lieuNais }}</td>
          <td>
            <a *ngIf="combattant.photo" (click)="openFile(combattant.photo, combattant.photoContentType)">
              <img
                [src]="'data:' + combattant.photoContentType + ';base64,' + combattant.photo"
                style="max-height: 30px"
                alt="combattant image"
              />
            </a>
            <span *ngIf="combattant.photo">{{ combattant.photoContentType }}, {{ byteSize(combattant.photo) }}</span>
          </td>
          <td>
            <div *ngIf="combattant.combattant">
              <a [routerLink]="['/vainqueur', combattant.combattant?.id, 'view']">{{ combattant.combattant?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/combattant', combattant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/combattant', combattant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(combattant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="combattants && combattants.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
