<div>
  <h2 id="page-heading" data-cy="CombattantHeading">
    <span jhiTranslate="projetCommunaleApp.combattant.home.title">Combattants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.combattant.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-combattant"
        [routerLink]="['/combattant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.combattant.home.createLabel"> Create a new Combattant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="combattants?.length === 0">
    <span jhiTranslate="projetCommunaleApp.combattant.home.notFound">No combattants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="combattants && combattants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.combattant.nomCombattant">Nom Combattant</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.combattant.prenomCombattant">Prenom Combattant</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.combattant.dateNaisCombattant">Date Nais Combattant</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.combattant.lieuNaisCombattant">Lieu Nais Combattant</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.combattant.photoCombattant">Photo Combattant</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.combattant.club">Club</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let combattant of combattants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/combattant', combattant.id, 'view']">{{ combattant.id }}</a>
          </td>
          <td>{{ combattant.nomCombattant }}</td>
          <td>{{ combattant.prenomCombattant }}</td>
          <td>{{ combattant.dateNaisCombattant | formatMediumDate }}</td>
          <td>{{ combattant.lieuNaisCombattant }}</td>
          <td>
            <a *ngIf="combattant.photoCombattant" (click)="openFile(combattant.photoCombattant, combattant.photoCombattantContentType)">
              <img
                [src]="'data:' + combattant.photoCombattantContentType + ';base64,' + combattant.photoCombattant"
                style="max-height: 30px"
                alt="combattant image"
              />
            </a>
            <span *ngIf="combattant.photoCombattant"
              >{{ combattant.photoCombattantContentType }}, {{ byteSize(combattant.photoCombattant) }}</span
            >
          </td>
          <td>
            <div *ngIf="combattant.club">
              <a [routerLink]="['/club', combattant.club?.id, 'view']">{{ combattant.club?.nomClub }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/combattant', combattant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/combattant', combattant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(combattant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
