<div>
  <h2 id="page-heading" data-cy="DemandeInterviewHeading">
    <span jhiTranslate="projetCommunaleApp.demandeInterview.home.title">Demande Interviews</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.demandeInterview.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande-interview"
        [routerLink]="['/demande-interview/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.demandeInterview.home.createLabel"> Create a new Demande Interview </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandeInterviews?.length === 0">
    <span jhiTranslate="projetCommunaleApp.demandeInterview.home.notFound">No demandeInterviews found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="demandeInterviews && demandeInterviews.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.demandeInterview.nomJournaliste">Nom Journaliste</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.demandeInterview.prenomJournaliste">Prenom Journaliste</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.demandeInterview.nomSociete">Nom Societe</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.demandeInterview.emailJournalite">Email Journalite</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.demandeInterview.dateInterview">Date Interview</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.demandeInterview.etatDemande">Etat Demande</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.demandeInterview.entrepreneur">Entrepreneur</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demandeInterview of demandeInterviews; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demande-interview', demandeInterview.id, 'view']">{{ demandeInterview.id }}</a>
          </td>
          <td>{{ demandeInterview.nomJournaliste }}</td>
          <td>{{ demandeInterview.prenomJournaliste }}</td>
          <td>{{ demandeInterview.nomSociete }}</td>
          <td>{{ demandeInterview.emailJournalite }}</td>
          <td>{{ demandeInterview.dateInterview | formatMediumDate }}</td>
          <td>{{ demandeInterview.etatDemande }}</td>
          <td>
            <div *ngIf="demandeInterview.entrepreneur">
              <a [routerLink]="['/entrepreneur', demandeInterview.entrepreneur?.id, 'view']">{{
                demandeInterview.entrepreneur?.nomEntrepreneur
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demande-interview', demandeInterview.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demande-interview', demandeInterview.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(demandeInterview)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
