<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="annonce">
      <h2 data-cy="annonceDetailsHeading"><span jhiTranslate="projetCommunalApp.annonce.detail.title">Annonce</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ annonce.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.annonce.titre">Titre</span></dt>
        <dd>
          <span>{{ annonce.titre }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.annonce.description">Description</span></dt>
        <dd>
          <span>{{ annonce.description }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.annonce.date">Date</span></dt>
        <dd>
          <span>{{ annonce.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunalApp.annonce.lieu">Lieu</span></dt>
        <dd>
          <span>{{ annonce.lieu }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/annonce', annonce.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
