<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="annonce">
      <h2 data-cy="annonceDetailsHeading"><span jhiTranslate="projetCommunaleApp.annonce.detail.title">Annonce</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ annonce.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.annonce.titre">Titre</span></dt>
        <dd>
          <span>{{ annonce.titre }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.annonce.description">Description</span></dt>
        <dd>
          <span>{{ annonce.description }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.annonce.date">Date</span></dt>
        <dd>
          <span>{{ annonce.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.annonce.lieu">Lieu</span></dt>
        <dd>
          <span>{{ annonce.lieu }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.annonce.don">Don</span></dt>
        <dd>
          <div *ngIf="annonce.don">
            <a [routerLink]="['/don', annonce.don?.id, 'view']">{{ annonce.don?.typeDon }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.annonce.beneficiaire">Beneficiaire</span></dt>
        <dd>
          <div *ngIf="annonce.beneficiaire">
            <a [routerLink]="['/beneficiaire', annonce.beneficiaire?.id, 'view']">{{ annonce.beneficiaire?.typeBeneficiaire }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/annonce', annonce.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
