<div>
  <h2 id="page-heading" data-cy="ResultatExamenHeading">
    <span jhiTranslate="projetCommunaleApp.resultatExamen.home.title">Resultat Examen</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.resultatExamen.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-resultat-examen"
        [routerLink]="['/resultat-examen/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.resultatExamen.home.createLabel"> Create a new Resultat Examen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="resultatExamen?.length === 0">
    <span jhiTranslate="projetCommunaleApp.resultatExamen.home.notFound">No resultatExamen found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="resultatExamen && resultatExamen.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.resultatExamen.typeExament">Type Exament</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.resultatExamen.autreExamen">Autre Examen</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.resultatExamen.tauxReuissite">Taux Reuissite</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.resultatExamen.annee">Annee</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.resultatExamen.etablissement">Etablissement</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultatExamen of resultatExamen; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/resultat-examen', resultatExamen.id, 'view']">{{ resultatExamen.id }}</a>
          </td>
          <td jhiTranslate="{{ 'projetCommunaleApp.Examen.' + resultatExamen.typeExament }}">{{ resultatExamen.typeExament }}</td>
          <td>{{ resultatExamen.autreExamen }}</td>
          <td>{{ resultatExamen.tauxReuissite }}</td>
          <td>{{ resultatExamen.annee | formatMediumDate }}</td>
          <td>
            <div *ngIf="resultatExamen.etablissement">
              <a [routerLink]="['/etablissement', resultatExamen.etablissement?.id, 'view']">{{ resultatExamen.etablissement?.nomEtat }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/resultat-examen', resultatExamen.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/resultat-examen', resultatExamen.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(resultatExamen)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
