<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="entreprenariat">
      <h2 data-cy="entreprenariatDetailsHeading">
        <span jhiTranslate="projetCommunaleApp.entreprenariat.detail.title">Entreprenariat</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ entreprenariat.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.entreprenariat.typeEntre">Type Entre</span></dt>
        <dd>
          <span jhiTranslate="{{ 'projetCommunaleApp.TypeEntreprenariat.' + entreprenariat.typeEntre }}">{{
            entreprenariat.typeEntre
          }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.entreprenariat.autreEntre">Autre Entre</span></dt>
        <dd>
          <span>{{ entreprenariat.autreEntre }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/entreprenariat', entreprenariat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
