<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-don-heading" data-cy="DonCreateUpdateHeading" jhiTranslate="projetCommunaleApp.don.home.createOrEditLabel">
        Create or edit a Don
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.don.typeDon" for="field_typeDon">Type Don</label>
          <select class="form-control" name="typeDon" formControlName="typeDon" id="field_typeDon" data-cy="typeDon">
            <option [ngValue]="null">{{ 'projetCommunaleApp.TypeDon.null' | translate }}</option>
            <option *ngFor="let typeDon of typeDonValues" [value]="typeDon">
              {{ 'projetCommunaleApp.TypeDon.' + typeDon | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.don.montant" for="field_montant">Montant</label>
          <input type="number" class="form-control" name="montant" id="field_montant" data-cy="montant" formControlName="montant" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.don.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.don.donneur" for="field_donneur">Donneur</label>
          <select class="form-control" id="field_donneur" data-cy="donneur" name="donneur" formControlName="donneur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="donneurOption.id === editForm.get('donneur')!.value?.id ? editForm.get('donneur')!.value : donneurOption"
              *ngFor="let donneurOption of donneursSharedCollection; trackBy: trackDonneurById"
            >
              {{ donneurOption.typeDonneur }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
