<div>
  <h2 id="page-heading" data-cy="DonSangHeading">
    <span jhiTranslate="projetCommunalApp.donSang.home.title">Don Sangs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunalApp.donSang.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-don-sang"
        [routerLink]="['/don-sang/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunalApp.donSang.home.createLabel"> Create a new Don Sang </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="donSangs?.length === 0">
    <span jhiTranslate="projetCommunalApp.donSang.home.notFound">No donSangs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="donSangs && donSangs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="organisateur">
            <span jhiTranslate="projetCommunalApp.donSang.organisateur">Organisateur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="projetCommunalApp.donSang.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="annonce.id">
            <span jhiTranslate="projetCommunalApp.donSang.annonce">Annonce</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="donneur.id">
            <span jhiTranslate="projetCommunalApp.donSang.donneur">Donneur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donSang of donSangs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/don-sang', donSang.id, 'view']">{{ donSang.id }}</a>
          </td>
          <td>{{ donSang.organisateur }}</td>
          <td>{{ donSang.description }}</td>
          <td>
            <div *ngIf="donSang.annonce">
              <a [routerLink]="['/annonce', donSang.annonce?.id, 'view']">{{ donSang.annonce?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="donSang.donneur">
              <a [routerLink]="['/donneur', donSang.donneur?.id, 'view']">{{ donSang.donneur?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/don-sang', donSang.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/don-sang', donSang.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(donSang)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="donSangs && donSangs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
