<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ensegnant">
      <h2 data-cy="ensegnantDetailsHeading"><span jhiTranslate="projetCommunaleApp.ensegnant.detail.title">Ensegnant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ensegnant.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.ensegnant.nom">Nom</span></dt>
        <dd>
          <span>{{ ensegnant.nom }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.ensegnant.prenom">Prenom</span></dt>
        <dd>
          <span>{{ ensegnant.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.ensegnant.email">Email</span></dt>
        <dd>
          <span>{{ ensegnant.email }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.ensegnant.tel">Tel</span></dt>
        <dd>
          <span>{{ ensegnant.tel }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.ensegnant.tel1">Tel 1</span></dt>
        <dd>
          <span>{{ ensegnant.tel1 }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.ensegnant.etablissement">Etablissement</span></dt>
        <dd>
          <div *ngIf="ensegnant.etablissement">
            <a [routerLink]="['/etablissement', ensegnant.etablissement?.id, 'view']">{{ ensegnant.etablissement?.nomEtat }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ensegnant', ensegnant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
