<div>
  <h2 id="page-heading" data-cy="CompetitionHeading">
    <span jhiTranslate="projetCommunaleApp.competition.home.title">Competitions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.competition.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-competition"
        [routerLink]="['/competition/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.competition.home.createLabel"> Create a new Competition </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="competitions?.length === 0">
    <span jhiTranslate="projetCommunaleApp.competition.home.notFound">No competitions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="competitions && competitions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.competition.dateCompetition">Date Competition</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.competition.lieuCompetition">Lieu Competition</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.competition.discipline">Discipline</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.competition.club">Club</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competition of competitions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/competition', competition.id, 'view']">{{ competition.id }}</a>
          </td>
          <td>{{ competition.dateCompetition | formatMediumDatetime }}</td>
          <td>{{ competition.lieuCompetition }}</td>
          <td jhiTranslate="{{ 'projetCommunaleApp.DisciplineClub.' + competition.discipline }}">{{ competition.discipline }}</td>
          <td>
            <div *ngIf="competition.club">
              <a [routerLink]="['/club', competition.club?.id, 'view']">{{ competition.club?.nomClub }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/competition', competition.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/competition', competition.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(competition)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
