<div>
  <h2 id="page-heading" data-cy="EntrepreneurHeading">
    <span jhiTranslate="projetCommunaleApp.entrepreneur.home.title">Entrepreneurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.entrepreneur.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-entrepreneur"
        [routerLink]="['/entrepreneur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.entrepreneur.home.createLabel"> Create a new Entrepreneur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="entrepreneurs?.length === 0">
    <span jhiTranslate="projetCommunaleApp.entrepreneur.home.notFound">No entrepreneurs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="entrepreneurs && entrepreneurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.entrepreneur.nomEntrepreneur">Nom Entrepreneur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.entrepreneur.prenomEntrepreneur">Prenom Entrepreneur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.entrepreneur.emailEntrepreneur">Email Entrepreneur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.entrepreneur.telEntrepreneur">Tel Entrepreneur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.entrepreneur.tel1Entrepreneur">Tel 1 Entrepreneur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.entrepreneur.entreprenariat">Entreprenariat</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.entrepreneur.domaineActivite">Domaine Activite</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entrepreneur of entrepreneurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/entrepreneur', entrepreneur.id, 'view']">{{ entrepreneur.id }}</a>
          </td>
          <td>{{ entrepreneur.nomEntrepreneur }}</td>
          <td>{{ entrepreneur.prenomEntrepreneur }}</td>
          <td>{{ entrepreneur.emailEntrepreneur }}</td>
          <td>{{ entrepreneur.telEntrepreneur }}</td>
          <td>{{ entrepreneur.tel1Entrepreneur }}</td>
          <td>
            <div *ngIf="entrepreneur.entreprenariat">
              <a [routerLink]="['/entreprenariat', entrepreneur.entreprenariat?.id, 'view']">{{
                entrepreneur.entreprenariat?.typeEntre
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="entrepreneur.domaineActivite">
              <a [routerLink]="['/domaine-activite', entrepreneur.domaineActivite?.id, 'view']">{{
                entrepreneur.domaineActivite?.typeActivite
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/entrepreneur', entrepreneur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/entrepreneur', entrepreneur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(entrepreneur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
