<div>
  <h2 id="page-heading" data-cy="ArtisteHeading">
    <span jhiTranslate="projetCommunaleApp.artiste.home.title">Artistes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.artiste.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-artiste"
        [routerLink]="['/artiste/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.artiste.home.createLabel"> Create a new Artiste </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="artistes?.length === 0">
    <span jhiTranslate="projetCommunaleApp.artiste.home.notFound">No artistes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="artistes && artistes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.artiste.nomArtiste">Nom Artiste</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.artiste.prenomArtiste">Prenom Artiste</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.artiste.domaine">Domaine</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.artiste.autreDomaine">Autre Domaine</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let artiste of artistes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/artiste', artiste.id, 'view']">{{ artiste.id }}</a>
          </td>
          <td>{{ artiste.nomArtiste }}</td>
          <td>{{ artiste.prenomArtiste }}</td>
          <td jhiTranslate="{{ 'projetCommunaleApp.Domaine.' + artiste.domaine }}">{{ artiste.domaine }}</td>
          <td>{{ artiste.autreDomaine }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/artiste', artiste.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/artiste', artiste.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(artiste)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
