<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-collecteur-odeur-heading"
        data-cy="CollecteurOdeurCreateUpdateHeading"
        jhiTranslate="projetCommunaleApp.collecteurOdeur.home.createOrEditLabel"
      >
        Create or edit a Collecteur Odeur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.collecteurOdeur.nomCollecteur" for="field_nomCollecteur"
            >Nom Collecteur</label
          >
          <input
            type="text"
            class="form-control"
            name="nomCollecteur"
            id="field_nomCollecteur"
            data-cy="nomCollecteur"
            formControlName="nomCollecteur"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.collecteurOdeur.prenomCollecteur" for="field_prenomCollecteur"
            >Prenom Collecteur</label
          >
          <input
            type="text"
            class="form-control"
            name="prenomCollecteur"
            id="field_prenomCollecteur"
            data-cy="prenomCollecteur"
            formControlName="prenomCollecteur"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.collecteurOdeur.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.collecteurOdeur.tel1" for="field_tel1">Tel 1</label>
          <input type="text" class="form-control" name="tel1" id="field_tel1" data-cy="tel1" formControlName="tel1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.collecteurOdeur.quartier" for="field_quartier">Quartier</label>
          <select class="form-control" id="field_quartier" data-cy="quartier" name="quartier" formControlName="quartier">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="quartierOption.id === editForm.get('quartier')!.value?.id ? editForm.get('quartier')!.value : quartierOption"
              *ngFor="let quartierOption of quartiersSharedCollection; trackBy: trackQuartierById"
            >
              {{ quartierOption.nomQuartier }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
