<div>
  <h2 id="page-heading" data-cy="CibleHeading">
    <span jhiTranslate="projetCommunaleApp.cible.home.title">Cibles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.cible.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cible"
        [routerLink]="['/cible/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.cible.home.createLabel"> Create a new Cible </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cibles?.length === 0">
    <span jhiTranslate="projetCommunaleApp.cible.home.notFound">No cibles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cibles && cibles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.cible.cible">Cible</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.cible.age">Age</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.cible.vaccination">Vaccination</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cible of cibles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cible', cible.id, 'view']">{{ cible.id }}</a>
          </td>
          <td jhiTranslate="{{ 'projetCommunaleApp.CibleVacc.' + cible.cible }}">{{ cible.cible }}</td>
          <td>{{ cible.age }}</td>
          <td>
            <div *ngIf="cible.vaccination">
              <a [routerLink]="['/vaccination', cible.vaccination?.id, 'view']">{{ cible.vaccination?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/cible', cible.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/cible', cible.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cible)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
