<div>
  <h2 id="page-heading" data-cy="CalendrierEvenementHeading">
    <span jhiTranslate="projetCommunaleApp.calendrierEvenement.home.title">Calendrier Evenements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.calendrierEvenement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-calendrier-evenement"
        [routerLink]="['/calendrier-evenement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.calendrierEvenement.home.createLabel"> Create a new Calendrier Evenement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="calendrierEvenements?.length === 0">
    <span jhiTranslate="projetCommunaleApp.calendrierEvenement.home.notFound">No calendrierEvenements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="calendrierEvenements && calendrierEvenements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.calendrierEvenement.nomEve">Nom Eve</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.calendrierEvenement.but">But</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.calendrierEvenement.objectif">Objectif</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.calendrierEvenement.date">Date</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.calendrierEvenement.lieu">Lieu</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let calendrierEvenement of calendrierEvenements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/calendrier-evenement', calendrierEvenement.id, 'view']">{{ calendrierEvenement.id }}</a>
          </td>
          <td>{{ calendrierEvenement.nomEve }}</td>
          <td>{{ calendrierEvenement.but }}</td>
          <td>{{ calendrierEvenement.objectif }}</td>
          <td>{{ calendrierEvenement.date | formatMediumDate }}</td>
          <td>{{ calendrierEvenement.lieu }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/calendrier-evenement', calendrierEvenement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/calendrier-evenement', calendrierEvenement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(calendrierEvenement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
