<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="partenaires">
      <h2 data-cy="partenairesDetailsHeading"><span jhiTranslate="projetCommunaleApp.partenaires.detail.title">Partenaires</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ partenaires.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.partenaires.nomPartenaire">Nom Partenaire</span></dt>
        <dd>
          <span>{{ partenaires.nomPartenaire }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.partenaires.emailPartenaire">Email Partenaire</span></dt>
        <dd>
          <span>{{ partenaires.emailPartenaire }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.partenaires.telPartenaire">Tel Partenaire</span></dt>
        <dd>
          <span>{{ partenaires.telPartenaire }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.partenaires.description">Description</span></dt>
        <dd>
          <span>{{ partenaires.description }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.partenaires.entrepreneur">Entrepreneur</span></dt>
        <dd>
          <div *ngIf="partenaires.entrepreneur">
            <a [routerLink]="['/entrepreneur', partenaires.entrepreneur?.id, 'view']">{{ partenaires.entrepreneur?.nomEntrepreneur }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.partenaires.eleveur">Eleveur</span></dt>
        <dd>
          <div *ngIf="partenaires.eleveur">
            <a [routerLink]="['/eleveur', partenaires.eleveur?.id, 'view']">{{ partenaires.eleveur?.nomEleveur }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/partenaires', partenaires.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
