<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-interviews-artiste-heading"
        data-cy="InterviewsArtisteCreateUpdateHeading"
        jhiTranslate="projetCommunaleApp.interviewsArtiste.home.createOrEditLabel"
      >
        Create or edit a Interviews Artiste
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.interviewsArtiste.titre" for="field_titre">Titre</label>
          <input type="text" class="form-control" name="titre" id="field_titre" data-cy="titre" formControlName="titre" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.interviewsArtiste.description" for="field_description"
            >Description</label
          >
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.interviewsArtiste.lien" for="field_lien">Lien</label>
          <input type="text" class="form-control" name="lien" id="field_lien" data-cy="lien" formControlName="lien" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projetCommunaleApp.interviewsArtiste.artiste" for="field_artiste">Artiste</label>
          <select class="form-control" id="field_artiste" data-cy="artiste" name="artiste" formControlName="artiste">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="artisteOption.id === editForm.get('artiste')!.value?.id ? editForm.get('artiste')!.value : artisteOption"
              *ngFor="let artisteOption of artistesCollection; trackBy: trackArtisteById"
            >
              {{ artisteOption.nomArtiste }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
