<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="recuperationRecyclable">
      <h2 data-cy="recuperationRecyclableDetailsHeading">
        <span jhiTranslate="projetCommunaleApp.recuperationRecyclable.detail.title">Recuperation Recyclable</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ recuperationRecyclable.id }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.recuperationRecyclable.nom">Nom</span></dt>
        <dd>
          <span>{{ recuperationRecyclable.nom }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.recuperationRecyclable.date">Date</span></dt>
        <dd>
          <span>{{ recuperationRecyclable.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.recuperationRecyclable.lieu">Lieu</span></dt>
        <dd>
          <span>{{ recuperationRecyclable.lieu }}</span>
        </dd>
        <dt><span jhiTranslate="projetCommunaleApp.recuperationRecyclable.quartier">Quartier</span></dt>
        <dd>
          <div *ngIf="recuperationRecyclable.quartier">
            <a [routerLink]="['/quartier', recuperationRecyclable.quartier?.id, 'view']">{{
              recuperationRecyclable.quartier?.nomQuartier
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/recuperation-recyclable', recuperationRecyclable.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
