<div>
  <h2 id="page-heading" data-cy="JoueurHeading">
    <span jhiTranslate="projetCommunaleApp.joueur.home.title">Joueurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.joueur.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-joueur"
        [routerLink]="['/joueur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projetCommunaleApp.joueur.home.createLabel"> Create a new Joueur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="joueurs?.length === 0">
    <span jhiTranslate="projetCommunaleApp.joueur.home.notFound">No joueurs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="joueurs && joueurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.joueur.nomJoueur">Nom Joueur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.joueur.prenomJoueur">Prenom Joueur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.joueur.dateNaisJoueur">Date Nais Joueur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.joueur.lieuNaisJoueur">Lieu Nais Joueur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.joueur.posteJoueur">Poste Joueur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.joueur.photoJoueur">Photo Joueur</span></th>
          <th scope="col"><span jhiTranslate="projetCommunaleApp.joueur.equipe">Equipe</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let joueur of joueurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/joueur', joueur.id, 'view']">{{ joueur.id }}</a>
          </td>
          <td>{{ joueur.nomJoueur }}</td>
          <td>{{ joueur.prenomJoueur }}</td>
          <td>{{ joueur.dateNaisJoueur | formatMediumDate }}</td>
          <td>{{ joueur.lieuNaisJoueur }}</td>
          <td jhiTranslate="{{ 'projetCommunaleApp.Poste.' + joueur.posteJoueur }}">{{ joueur.posteJoueur }}</td>
          <td>
            <a *ngIf="joueur.photoJoueur" (click)="openFile(joueur.photoJoueur, joueur.photoJoueurContentType)">
              <img
                [src]="'data:' + joueur.photoJoueurContentType + ';base64,' + joueur.photoJoueur"
                style="max-height: 30px"
                alt="joueur image"
              />
            </a>
            <span *ngIf="joueur.photoJoueur">{{ joueur.photoJoueurContentType }}, {{ byteSize(joueur.photoJoueur) }}</span>
          </td>
          <td>
            <div *ngIf="joueur.equipe">
              <a [routerLink]="['/equipe', joueur.equipe?.id, 'view']">{{ joueur.equipe?.nomEquipe }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/joueur', joueur.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/joueur', joueur.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(joueur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
